@media (max-width: 769px) {
    .allcontent, .btnTop, .btnDark {
        display: none;
    }

    .menuIcon {
        display: flex;
    }
}

.animation {
  animation: hambMenu 0.3s ease-in;
  backdrop-filter: blur(5px);
}

@media (min-width: 1024px) {
    .hiddenBtn {
        display: none;
    }
}